<div class="a">
    
    <div class="a-left">
        <img class="a-img" src="/assets/Profile_photo.png" alt="profile">
    </div>
    <div class="a-right">
        <h1 class="a-title">About Me</h1>
        <p class="a-sub">
            Software engineering professional with 2 years of experience. self-motivated. enthusiast.
        </p>
        <p class="a-desc">
            I spend most of the time in learning and upskilling. apart from that, I watch web series and play games like Valorant, CS go, spend time with friends and family.  
        </p>
    </div>
</div>
