.a{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.a-mob{
    display: flex;
    flex-direction: column;
}
.a-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-right{

}
.a-img{
    width: 60%;
    height: 80%;
    margin: 20px;
    border-radius: 8px;
    justify-self: center;
    align-self: center;
}
.a-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font: 400 24px / 32px Roboto;
}
.a-sub{
    margin: 20px 0;
}
.a-desc{
    font-weight: 300;
}
.a-container{
    display: flex;
}

@media (max-width:600px) {
    .a-container{
        flex-direction: column;
    }
}