<div class="a">
    <mat-card class="">
        <mat-card-title class="a-title"><b>WHO AM I?</b></mat-card-title>
        <mat-card-content class="a-container">
            <div class="a-left">
                <img class="a-img skeleton" src="/assets/Profile_photo.png" alt="profile">
            </div>
            <div class="a-right">
                <p class="a-sub">
                    Well, I imagine you have some idea if you've made it here. Just in case though, I'm <span id="name">Nikhil Bedarkar</span> - a Software Engineer, Who enjoys web development.
                </p>
                <div class="a-desc">
                    <p>
                    I started programming using C from my diploma days and more recently transitioned to web development. I am looking to improve day in day out.
                </p>
                    <p>
                    Asides from programming, my hobbies dictate much of my life. I enjoy gaming, typically FPS(First Person shooter) games. apart from that, I like watching web series and movies with fictional universe.
                    </p>
                <p>
                    When I'm not inside staring at a screen, I enjoy exercising, getting outdoors, cycling and spending time with friends and family.  
                </p>
            </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
