<div class="i">
    <div class="i-left">
      <div class="i-left-wrapper">
        <h2 class="i-intro">Hello, My name is</h2>
        <h1 class="i-name">Nikhil Bedarkar</h1>
        <div class="i-title">
          <div class="i-title-wrapper">
            <div class="i-title-item">Software Engineer</div>
            <div class="i-title-item">Web Developer</div>
          </div>
        </div>
        <p class="i-desc">
          I involved in SDLC from software development to deployment in production using modern tools. 
        </p>
      </div>
    </div>
    <!-- <div class="i-right">
    </div> -->
</div>

