<div class="i">
    <div class="i-left">
      <div class="i-left-wrapper">
        <h2 class="i-intro">Hi! My name is</h2>
        <h1 class="i-name">Nikhil Bedarkar</h1>
        <div class="i-title">
          <div class="i-title-wrapper">
            <div class="i-title-item">Software Engineer</div>
            <div class="i-title-item">Web Developer</div>
          </div>
        </div>
        <p class="i-desc">
          I involved in SDLC from software development to deployment in production using modern tools. 
        </p>
        <div class="socials">
        <button class="mat-button" (click)="openNewTab('https://www.linkedin.com/in/nikhilbedarkar/')"><fa-icon [icon]="faLinkedin" class="fa-2x icon"></fa-icon></button>
        <button class="mat-button" (click)="openNewTab('https://codepen.io/thevolcanick')"><fa-icon [icon]="faCodepen" class="fa-2x icon"></fa-icon></button>
        <button class="mat-button" (click)="openNewTab('https://github.com/NikhilBedarkar')"><fa-icon [icon]="faGithub" class="fa-2x icon"></fa-icon></button>
        <!-- <button class="mat-button" (click)="openNewTab('https://www.hackerrank.com/TheVolcaNick?hr_r=1')"><fa-icon [icon]="faHackerrank" class="fa-2x icon"></fa-icon></button> -->
        </div>
      </div>
    </div>
    <!-- <div class="i-right">
    </div> -->
</div>

