.sidenav-container {
  height: 100%;
}

.top-toolbar{
  /* max-width: 1200px; */
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sub-toolbar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  justify-content: center;
  top: 0;
  z-index: 1;
}

.toolbar-list{
  display: flex;
  justify-items: center;
}

.spacer{
  flex: 1 1 auto;
}

@media (max-width:960px) {
  .sub-toolbar{
  display: flex;
  justify-content: space-between;
  }
}