<div class="s">
    <h1 class="s-title"><b>Skills</b></h1>
    <h4 class="s-sub">(My technical level)</h4>
<!-- ---------------SKills List-------------- -->
    <div class="s-skills-list">
        <div class="skill">
            <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                 Frontend
                </mat-panel-title>
                <mat-panel-description>
                :
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item> HTML<span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="85"></mat-progress-bar>85% </mat-list-item>
                <mat-list-item> CSS <span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="75"></mat-progress-bar>75%</mat-list-item>
                <mat-list-item> Javascript<span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="60"></mat-progress-bar>60% </mat-list-item>
                <mat-list-item> Angular <span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="80"></mat-progress-bar>80%</mat-list-item>
                <mat-list-item> React <span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="60"></mat-progress-bar>60%</mat-list-item>
               </mat-list>
            </mat-expansion-panel>
        </div>
        <div class="skill">
            <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                 Backend
                </mat-panel-title>
                <mat-panel-description>
                :
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item> Java<span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="85"></mat-progress-bar>85%</mat-list-item>
                <mat-list-item>Spring boot<span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="60"></mat-progress-bar>60%</mat-list-item>
                <mat-list-item>Node + Express<span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="60"></mat-progress-bar>60%</mat-list-item>
                <mat-list-item> Python <span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="70"></mat-progress-bar>70%</mat-list-item>
                <mat-list-item> MySQL <span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="70"></mat-progress-bar>70%</mat-list-item>
               </mat-list>
            </mat-expansion-panel>
        </div>
        <div class="skill">
            <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Devops
                </mat-panel-title>
                <mat-panel-description>
                :
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item> Docker <span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="80"></mat-progress-bar>80%</mat-list-item>
                <mat-list-item> Git <span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="85"></mat-progress-bar>85%</mat-list-item>
                <mat-list-item> Shell-script<span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="75"></mat-progress-bar>75% </mat-list-item>
                <mat-list-item>azure fundamentals<span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="60"></mat-progress-bar>60% </mat-list-item>
                <mat-list-item>AWS<span class="spacer"></span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="80"></mat-progress-bar>80%</mat-list-item>
                <mat-list-item>Selenium<span class="spacer"></span>
                        <mat-progress-bar class="progress-bar" mode="determinate" value="90"></mat-progress-bar>90%</mat-list-item>
               </mat-list>
            </mat-expansion-panel>
        </div>
    </div>
</div>
