<div class="portfolio">
        <h1 class="p-title"><b>Check out some of my work!</b></h1>
        <div class="p-container">
            <mat-card *ngFor="let project of projects" class="project-card">
              <div class="project-title">
              <mat-card-title>{{project.name | titlecase}}</mat-card-title>
            </div>

              <!-- <mat-card-subtitle class="card-subtitle"> -->
                 
                <!-- </mat-card-subtitle> -->
                <div class="project-content">
                  <mat-card-content>
                    <p>{{project.description}}</p>
                  </mat-card-content>
                </div>
                <div class="spacer"></div>
                <mat-chip-list class="techStack" aria-label="techStack">
                  <mat-chip *ngFor="let t of project.technologies" class="techStack-chip" color="primary">{{t}}</mat-chip>
                </mat-chip-list>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                  <button *ngIf="project.website" (click)="openCertificationTab(project.website)" mat-button color="primary">Check it out</button>
                  <button (click)="openCertificationTab(project.github)" mat-button color="primary">Github</button>
                </mat-card-actions>
                <mat-card-footer>
                 
                </mat-card-footer>
              </mat-card>

        </div>
</div>