<div class="portfolio">
        <h1 class="p-title">Projects</h1>
        <div class="p-container">
            <mat-card class="example-card">
                <mat-card-title >Online Shop</mat-card-title>
                <mat-card-subtitle>Angular</mat-card-subtitle>
                <mat-card-content>
                  <p>This is angular project for online shop that sell fresh veggies.</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                  <button mat-button color="primary">Check it out</button>
                  <button mat-button color="primary">Github</button>
                </mat-card-actions>
                <mat-card-footer>
                
                </mat-card-footer>
              </mat-card>
        </div>
</div>