.coming-soon{
    text-align: center;
    margin-top: 20vh;
}
.example-card{
    width: 30%;
}

.p-title{
    align-items:center ;
    align-content: center;
    text-align: center;
    margin: 50px 20px;
}